@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
  background-color: var(--gray);
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  background-color: #cfcfcf;
}

input[type="text"]:hover,
input[type="number"]:hover {
  border: 2px solid white;
  background-color: #b8b8b8;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 205px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 66px;
  left: 6rem;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 15px;
  margin-bottom: 20px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  background-color: var(--primary);
  color: white;
}

.event-details{
  margin: 1rem 0;
}

.event-description{
  margin-top: 0.6rem;
}

.details-btn {
  /* position: absolute; */
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: var(--gray);
  color:var(--white);
  font: small-caption;
}

.show-details-btn {
  margin-top: 0.6rem;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.inputWrapper{
  display: inline-flex;
  margin: 1rem 0;
  align-items: center;
}

.inputWrapper label{
  white-space: nowrap;
  margin-right: 1rem;
}

.EventList{
  display: grid;
  grid-template-columns: 1fr;
}

.EventList > li{
  width: 90%;
  margin: 0 auto;
}

.btn-wrapper{
  text-align: right;
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
  .EventList{
    grid-template-columns: 1fr 1fr;
  }
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #415a6b;
  --secondary: #95b395;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}